@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using RaZorWebxxx.Areas.Product.Service
@inject CardService _cardservice;


@{
    var cart = _cardservice.GetCartItems();
            if (cart.Count > 0)
            {
                <div class="nav-item"><a class="text-warning" asp-route="cart" >Giỏ Hàng(@cart.Count)</a></div>
            }
}