@model RaZorWebxxx.Models.Planetmodel
    <h1>@Model.Name</h1>
    <div class="card w-50">
        
        <img src="~/Plainet/@(Model.Name).jpg" alt="Alternate Text" />
        <div class="card-body">
            <div class="card-text">@Model.Content</div>
        </div>
        <a class="card-link" asp-action="Index" >Các hành tinh</a>
        </div>
</div>